/*navigation*/
#navbar{
	flex-direction: column;

}
#navbar ul li a{
	font-size: 1rem;
	padding: 0px 7px;
	padding-bottom: 8px;
}

/*Home*/
#home{
	height: 380px;
	padding: 3px 68px;
  }
 #home::before{
 	height: 480px;
 }
#home p{
	font-size: 13px;
}
/*Services*/
#services{
	flex-direction: column;

}

.h-secondary {
    font-size: 1.5rem;
}

/*client*/
#clients{
	
	flex-wrap: wrap;

}
#clients img{
	width: 57px;
	padding: 10px;
	height: auto;
}
.client-item{
	padding: inherit;
}
/*contact*/
#contact{

}

/*footer*/

/*utilty*/
.h-primary{
	font-size: 26px;
}
.btn{
	font-size: 13px;
	padding: 4px 8px;
}